{{>NavBarEmployee}}
<div class="container">
  {{>alerts}}
  <div class="row">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card grey lighten-5 z-depth-1">
        <a class=" waves-effect waves-light btn blue right tooltipped " id="display-edit-buttons" href="#"
          data-position="top" data-tooltip="Editeaza Profilul"><i class="material-icons left">create</i> Editeaza
          Profilul</a>
        <div class="card-profile-image">
          <a href="/profile/avatar">
            {{#if this.result.avatar }}
            <img src="{{this.result.avatar}}" class="avatar">
            {{else}}
            <img src="/images/no_user.png" class="avatar">
            {{/if}}
        </div>
        </a>

        <div class="card-content center">
          <a class="btn blue center edit-profile-button " href="/profile/avatar">Editeaza forografia </a>
          <h4>{{result.first_name}} {{result.last_name}}</h4>

          {{#if result.job_seeker_location}}
          <h6><i class="material-icons">place</i>{{result.job_seeker_location}}</h6>
          {{/if}}
          {{#if result.job_seeker_employment_type}}
          <h6><i class="material-icons">schedule</i> {{result.job_seeker_employment_type}}</h6>
          {{/if}}

          {{#if result.job_seeker_availability}}
          <h6 class=" green-text ">{{result.job_seeker_availability}}</h6>
          {{/if}}

          <div class="divider"></div>
          <h4>Despre Mine</h4>
          {{#if result.job_seeker_about_me}}
          <p>{{result.job_seeker_about_me}}</p>
          {{else}}
          <p class="text-opacity">Spune anagajatorilor mai mult despre tine...</p>
          {{/if}}
         
         
          <div class="divider"></div>
          <h4>Experienta</h4>
          <a class="btn blue edit-profile-button" href="/jobseeker/experience">Adauga Experienta</a>

          {{#if experience}}

          {{#each experience}}
          <div class="divider"></div>
          <p><b>{{position}}</b></p>
          <h6>{{company_name}}</h6>
          <p>{{start_date}} — {{end_date}}</p>
          <p>{{responsibilities}}</p>
          <a href="/jobseeker/experience/edit/{{id}}" class="btn full-width-btn edit-profile-button">Editeaza experienta</a>
          
          {{/each}}

          {{else}}
          <h6>Adauga experienta pentru a mari sansele de a gasi de munca</h6>
          {{/if}}

          {{#if result.job_seeker_languages}}
          <div class="divider"></div>
          <h4>Limbi</h4>
          <p><b>{{result.job_seeker_languages}}</b></p>
          {{/if}}

          {{#if result.job_seeker_education}}
          <div class="divider"></div>
          <h4>Educatie</h4>
          <p>{{result.job_seeker_education}}</p>
        </div>
        {{/if}}
        <div class="card-action center">
          <a class="btn green center edit-profile-button " href="/profile-edit/jobseeker">Editeaza Informatia generala</a>
        </div>
      </div>
    </div>