{{>NavBarEmployer}}
{{#if error_msg}} 
          <div class="row" id="alert_box">
            <div class="container">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col s12 m10">
                    <div class="card-content white-text ">
                    {{#each error_msg}}
                          <p>{{msg}}</p>
                    {{/each}}
                  </div>
                  </div>
                  <div class="col s12 m2">
                    <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                </div>
              </div>
            </div>
            </div>
          </div>
      {{/if}}
      {{#if success_msg}} 
          <div class="row" id="alert_box">
            <div class="container">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col s12 m10">
                    <div class="card-content white-text ">
                    {{#each success_msg}}
                          <p>{{msg}}</p>
                    {{/each}}
                  </div>
                  </div>
                  <div class="col s12 m2">
                    <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                </div>
              </div>
            </div>
            </div>
          </div>
      {{/if}}
<div class="container">
 <div class="row">
    <div class="col s12 m6 l4 center">
      <div class="card">
        <a class="btn grey right tooltipped" href="/profile/avatar " data-position="top" data-tooltip="Schimba Imaginea"><i class="material-icons">create</i></a>
        <div class="card-image card-profile-image">
          <img  src="{{this.result.avatar}}" class="avatar">
        </div>
        <div class="card-content center">
          <h4>{{result.first_name}} {{result.last_name}}</h4>
          <p>{{result.email}}</p>
          <a class="btn grey" href="/password/reset">Schimba Parola</a>
        </div>
        <div class="card-action">
          <a class="btn grey center" href="/profile/info/edit">Editeaza Profilul</a>
        </div>
      </div>
    </div>

     <div class="col s12 m6 l4 center">
      <div class="card">
        <div class="card-title">Informatie despre companie</div>
        <div class="card-content center">
          <h4>{{result.company_name}}</h4>
           <p class="break_text text-opacity"> {{result.company_type}}</p>
          <p class="break_text"> {{result.company_description}}</p>
          <p>{{result.company_location}}</p>
        </div>
        <div class="card-action">
          <a class="btn grey center" href="/company/info/edit" > Editeaza</a>
        </div>
      </div>
    </div>
  </div>
 </div>   

