 {{>NavBar}}

    <div class="container">
      <div class="card-panel">
        <div class="row">
          <div class="col s12 m12 l6">
              {{#if this.result.image}}
              <img class="job_detail_image" src="https://erinewart.com/wp-content/uploads/2016/06/summer-01.jpg">
              {{else}}
               <img class="job_detail_image" src="https://erinewart.com/wp-content/uploads/2016/06/summer-01.jpg">
              {{/if}}

            
            <div class="card-content">
              <h4 class="break_text">{{result.position}} Bartender</h4>
              <p class="text-opacity">{{result.category}} hospitality</p>
              <p>{{result.description}}</p>
               {{#if result.experience}}
              <p>Experienta: <span class="font_weight_bold">{{result.experience}} 2 ani</span></p>
              {{/if}}

              {{#if result.language}}
              <p>Limbi: <span class="font_weight_bold"> {{result.language}} engleza</span></p>
              {{/if}}
               {{#if result.employment_type}}
              <p>Tipul de angajare: <span class="font_weight_bold">{{result.employment_type}} part time</span></p>
              {{/if}}
               {{#if result.salary}}
              <p>Salariu: <span class="font_weight_bold">{{result.salary}} 200 LEI </span></p>
              {{/if}}
               {{#if result.start_time}}
              <p>Timpul de începere: <span class="font_weight_bold yellow-backgr ">{{result.start_time}} imediat</span></p>
              {{/if}}
              <div class="divider"></div>
              <p> <i class="material-icons">place</i> <span class="font_weight_bold">{{result.city}} chisinau</span></p>
              <div class="divider"></div>
            </div>
          </div>
      
          <div class="col s12 m12 l6">
                  
        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><span> 1</span> Aplicat</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"> <span>2 </span> lista scurta</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><span>2</span> Respins</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
             <li>
              <div class="collapsible-header"><span>1</span> Expirat</div>
              <div class="collapsible-body"><span>Lorem ips</span></div>
            </li>
          </ul>
          </div>