  {{>NavBar}}
  <!-- search -->
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
        <form >
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix2" placeholder="Search"></input>
                
            </div>
        </form>
        </div>
     <div class="col s12 m4">
        <div class="input-field">
            <select>
                <option value="" selected>Catergories</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
     </div>
    </div>
</div>

    <!-- Section: jobs -->
              
    <section id="jobs" class="section section-popular scrollspy">
        <div class="container">
            <div class="row">
                <h4 class="center">
          {{#if results}}
            <span class="teal-text">Popular</span> Jobs</h4>
     
             {{#each results}}
                <div class="col s12 m6 l4">
                 <a href="/" class="fullcard" target="_blank"> </a>
                    <div class="card hoverable">
                        <div class="card-image small"> 
                            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
                            <span class="card-title yellow-text text-lighten-1 ">{{immediate_start}}</span>
                        </div>
                       
                        <div class="card-content card-content-jobs">
                               <p class="salary">
                                    <b> {{salary}} {{currency}}
                                        | <span>{{employment_type}}</span>
                                    </b>
                                </p>
                               
                            
                                <p class="card-position"> <b>{{position}}</b> </p>
                                <p class="truncate description">{{description}}</p>

                                <p class="text-opacity truncate"> company description</p>
                                <p><b>company name</b></p>
                                <p class="text-opacity">{{city}}</p>

                         </div>
                   
                    
                            <div class="card-action">
                                <a href="#" class=" btn blue white-text text-lighten-1 waves-effect waves-light"> Vezi Mai mult</a>
                            </div>
                   </div>
                </div>
            {{/each}}
         {{else}}
           <h4  class="center">Nici un job nu este disponibil la moment</h4>
         {{/if}}
        </div>
    </div>
</section>


 {{>Footer}}