  {{>NavBar}}
  <!-- search -->
    <div class="container">
      <div class="row">
        <div class="col s12 m10">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix2" placeholder="Cauta"></input>
                
            </div>
        </div>
      <div class="col s12 m2">
                <form action="">
                    <button class="btn search-btn blue">Cauta </button>
                </form>
            </div>
        </div>
   
      </div>
   </div>

   <section>
    <div class="container">
    <div class="row">
      <div class="col s6 m4 l2">
          <div class="card-panel">
              sdlkflkj
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              sdlkflkj
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              sdlkflkj
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              sdlkflkj
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              sdlkflkj
       </div>
  </div>
  

     <div class="hidden-category">
       <div class="col s6 m4 l2">
          <div class="card-panel ">
              hidden-category
       </div>
  </div>
     <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
     <div class="col s6 m4 l2">
          <div class="card-panel">
             hidden-category
       </div>
  </div>
     <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>
    <div class="col s6 m4 l2">
          <div class="card-panel">
              hidden-category
       </div>
  </div>

     </div>
     <div class="col s6 m4 l2">
          <div class="card-panel all-category grey lighten-2">
              Vezi Toate
       </div>
     </div>
   </div>
</section>
  
    <!-- Section: jobs -->
              
    <section id="jobs" class="section section-popular scrollspy">
        <div class="container">
            <div class="row">
          <h4 class="center">
          {{#if results}}
            <span class="teal-text">Popular</span> Jobs</h4>
     
             {{#each results}}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image small"> 
                            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
                            <span class="card-title yellow-text text-lighten-1 ">{{immediate_start}}</span>
                        </div>
                       
                        <div class="card-content card-content-jobs">
                               <p class="salary">
                                    <b> {{salary}} {{currency}}
                                        | <span>{{employment_type}}</span>
                                    </b>
                                </p>
                               
                            
                                <p class="card-position"> <b>{{position}}</b> </p>
                                <p class="truncate description">{{description}}</p>

                                <p class="text-opacity truncate"> company description</p>
                                <p><b>company name</b></p>
                                <p class="text-opacity">{{city}}</p>

                         </div>
                   
                    
                            <div class="card-action">
                                <a href="#" class=" btn blue white-text text-lighten-1 waves-effect waves-light"> Vezi Mai mult</a>
                            </div>
                   </div>
                </div>
            {{/each}}
         {{else}}
           <h4  class="center">Nici un job nu este disponibil la moment</h4>
         {{/if}}
        </div>
    </div>
</section>


 {{>Footer}}